* {
  box-sizing: border-box;
}

body {
  max-width: 375px;
  margin: auto;
  background: #F9E9DE;
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: 'Barlow Condensed', sans-serif;
}

.border-high  {
  border-top: 2px solid;
}

p {
  padding: 0 20px;
}

input {
  display: none;
}

.more-content {
  display: block;
  height: 20px;
  overflow: hidden;
  transition: all 1s;
  -webkit-mask-image: linear-gradient(#F9E9DE, transparent);
}

.btn-more {
  padding: 5px 20px;
  background: white;
  border-radius: 20px;
}

.container-carousel {
  overflow: hidden;
}

.carousel {
  display: flex;
  flex-flow: row nowrap;
  animation: carousel 10s infinite;
  position: relative;
}

.hourly {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  width: 100%;
  min-height: 95px;
  padding: 20px;
  border-bottom: 2px solid;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.hourly p {
  margin: 0;
  padding: 0;
  width: 50%;
}

header {
  max-height: 120px;
  padding: 15px;
  border-bottom: 2px solid;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-sizing: content-box;
}

.menu-burger-checkbox:checked ~ .menu-burger .line-high {

  transform: translate(0px, 14px) rotate(45deg);
}

.menu-burger-checkbox:checked ~ .menu-burger .line-middle {
	 opacity: 0;
}

.menu-burger-checkbox:checked ~ .menu-burger .line-low {
	transform: translate(0px, -14px) rotate(-45deg);
}

header .circle {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

header .circle .line {
  width: 50px;
  height: 4px;
  margin: 5px 0;
  border-radius: 10px;
  background: black;
  transition: 0.4s;
}

nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background: red;
  left: 0;
  top: 100%;
  transition: all ease-in-out 1s 0.1s;
  z-index: 1;
}

nav ul {
  width: 375px;
  margin: auto;
  padding: 150px 10px 10px 10px ;
  display: flex;
  flex-direction: column;
}

nav li {
  padding: 40px;
  list-style: none;
  border-bottom: 2px solid;
  text-align: center;
}

.menu-burger-checkbox:checked ~ nav {
  top: 0;
}

main {
  padding: 40px 10px;
}

.street-jam-festival,
.tags-graffiti-street-art,
.skate,
.musique,
.street-food {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-checkbox-street-jam-festival:checked ~ .more-content-street-jam-festival {
  height: 148px;
  -webkit-mask-image: none;
}

.more-checkbox-tags:checked ~ .more-content-tags {
  height: 148px;
  -webkit-mask-image: none;
}

.more-checkbox-skate:checked ~ .more-content-skate {
  height: 1200px;
  -webkit-mask-image: none;
}

.skate .announcement {
  margin: 20px 0;
  padding: 0 20px;
  width: 100%;
}

.street-food ul {
  padding: 0;
}

.street-food li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.street-food label {
  text-align: center;
  flex-grow: 1;
}

.street-food .arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 8px solid black;
  border-bottom: 8px solid transparent;
  transition: 0.7s;
}

.sub-menu {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.sub-menu-checkbox-oh-my-b:checked ~ .sub-menu-oh-my-b {
  height: 120px;
  transition: all 2s;
}

.sub-menu-checkbox-oh-my-b:checked ~ .arrow-oh-my-b {
  transform: rotate(90deg);
}

.sub-menu-checkbox-con-cilantro-wey:checked ~ .sub-menu-con-cilantro-wey {
  height: 120px;
  transition: all 2s;
}

.sub-menu-checkbox-con-cilantro-wey:checked ~ .arrow-con-cilantro-wey {
  transform: rotate(90deg);
}

.sub-menu-checkbox-frankie-hot-dogs:checked ~ .sub-menu-frankie-hot-dogs {
  height: 120px;
  transition: all 2s;
}

.sub-menu-checkbox-frankie-hot-dogs:checked ~ .arrow-frankie-hot-dogs {
  transform: rotate(90deg);
}

.sub-menu-checkbox-poke-paradise:checked ~ .sub-menu-poke-paradise {
  height: 120px;
  transition: all 2s;
}

.sub-menu-checkbox-poke-paradise:checked ~ .arrow-poke-paradise {
  transform: rotate(90deg);
}

.sub-menu-checkbox-bretagne-ambulante:checked ~ .sub-menu-bretagne-ambulante {
  height: 120px;
  transition: all 2s;
}

.sub-menu-checkbox-bretagne-ambulante:checked ~ .arrow-bretagne-ambulante {
  transform: rotate(90deg);
}

.sub-menu-checkbox-smoothies-stop:checked ~ .sub-menu-smoothies-stop {
  height: 120px;
  transition: all 2s;
}

.sub-menu-checkbox-smoothies-stop:checked ~ .arrow-smoothies-stop {
  transform: rotate(90deg);
}

.container-carousel-text {
  overflow: hidden;
}

.carousel-text {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  animation: carousel-text linear 5s infinite;
}

.carousel-text img {
  margin: 0 10px;
}

footer {
  padding: 40px 10px;
  background: black;
  color: white;
}

@keyframes carousel-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-355px);
  }
}

@keyframes carousel {
  0%, 20% {
    transform: translateX(0);
  }
  30%, 50%{
    transform: translateX(-355px);
  }
  60%, 80%{
    transform: translateX(-710px);
  }
}